<h1>Welcome page</h1>

<h3>Namespace practice</h3>
<%= link_to 'with admin', admin_articles_path %>

<h3>Without Namespace</h3>
<%= link_to 'without admin', comments_path %>

<h3>with scope </h3>
<%= link_to 'scope with module', comments_path %>

